:root {
  --nav-width: 1042px;
  --gap: 24px;
  --header-height: 4rem;
}
* {
  box-sizing: border-box;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  border: 1px solid red;
}

body {
  border: 1px solid blue;
  margin: 0 auto;
  min-height: 100vh;
  max-width: calc(var(--nav-width) + var(--gap) * 2);
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    segoe ui,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    open sans,
    helvetica neue,
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  color: #000;
}
